---
---
@import "main";

body{
    background-color: black;
    display:flex;
    min-height: 100vh;
}

h1{
    font-size: 53px;
    color: white;
    font-family: "Montserrat", sans-serif;
    max-width: 1078px;
}

h2{
    font-size: 35px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #9F9F9F;
    max-width: 678px;
    margin-top: 84px;
}

.about-container{
    margin: 0 auto 0 auto;
    display:flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}